label, select{
    display: inline-block;
    width: 120px;
}
table{
    padding-bottom: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: #87aec4;
    text-align: left;
    width: 80%;
}
th, td, tr{
    padding: 20px;
}
thead{
    background-color: #7b92b0;
    border-bottom: 5px;
    color: white;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #b0c4de;
    color: white;
}
img{
    width: 350px;
    height: 270px;
   
   
}